# @see https://devcenter.heroku.com/articles/getting-started-with-django#requirements-txt
Django==1.6
dj-database-url==0.2.2
dj-static==0.0.5
gunicorn==18.0
psycopg2==2.5.1
static==0.4
wsgiref==0.1.2

# Miscellaneous
BeautifulSoup==3.2.1
django-appconf==0.6

# Cron
logutils==0.3.3

# Models
jsonfield==0.9.20

# Views
Coffin==0.3.8
Jinja2==2.7.1

-r scrapers/requirements.txt
