# @see https://devcenter.heroku.com/articles/getting-started-with-django#requirements-txt
Django==1.6 # -e git+git://github.com/django/django.git@1.7b2#egg=django
dj-database-url==0.3.0
dj-static==0.0.5
gunicorn==18.0
psycopg2==2.5.2

# Miscellaneous
django-appconf==0.6

# Management
boto==2.28.0
logutils==0.3.3

# Models
jsonfield==0.9.20

-r scrapers/requirements.txt
