# @see https://devcenter.heroku.com/articles/getting-started-with-django#requirements-txt
dj-static==0.0.6
gunicorn==19.0.0

# Miscellaneous
django-appconf==0.6

# Management
logutils==0.3.3

-r scrapers/requirements.txt
