pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

a {
  cursor: pointer;
}

table {
  font-size: 85%;
}

table.tablesorter thead tr .header {
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(desc.gif);
}
